{
"resources": ["ec2", "elb"],
"profiles": ["dev"],
"db": {
    "type": "in-memory",
    "location": "./conformitygopher.db"
    },
"rules": {
    "required_tags": ["group_name", "app_name"]
    },
"email": {
    "enabled": true,
    "sender": "conformity@example.com",
    "recipients": ["admin@example.com", "test@example.com"],
    "smtp_host": "smtp.example.com",
    "smtp_port": 465,
    "username": "smtpUser",
    "password": "P@ssw0rD"
    }
}
